In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
import scipy
# 不用print，直接显示结果
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# 显示所有列
pd.set_option('display.max_columns', 600)

# 练习
## 【练习一】 现有一份关于字符串的数据集，请解决以下问题：
### （a）现对字符串编码存储人员信息（在编号后添加ID列），使用如下格式：“×××（名字）：×国人，性别×，生于×年×月×日”
### （b）将（a）中的人员生日信息部分修改为用中文表示（如一九七四年十月二十三日），其余返回格式不变。
### （c）将（b）中的ID列结果拆分为原列表相应的5列，并使用equals检验是否一致。

In [ ]:
pd.read_csv('data/String_data_one.csv',index_col='人员编号').head()

## 【练习二】 现有一份半虚拟的数据集，第一列包含了新型冠状病毒的一些新闻标题，请解决以下问题：
### （a）选出所有关于北京市和上海市新闻标题的所在行。
### （b）求col2的均值。
### （c）求col3的均值。

In [46]:
NewCov19 = pd.read_csv('data/String_data_two.csv')

In [12]:
# （a）选出所有关于北京市和上海市新闻标题的所在行
## contains 函数
## 正则表达式 r'[北京]{2}|[上海]{2}'
NewCov19[NewCov19['col1'].str.contains(r'[北京]{2}|[上海]{2}')].head()

## 会将北北，京京，上上，海海，都算上
pd.concat([pd.Series(['北北测试','京京测试','上上测试','呵呵海海']), NewCov19.col1[:10]]).str.contains(r'[北京]{2}|[上海]{2}')

                    col1 col2     col3
4             上海开学日期延至3月  -95       4.05
5   北京新增25例确诊病例，累计确诊253例   -4  -289.1719
6         上海新增10例，累计243例    2   -73.7105
36         上海新增14例累计233例  -55        -83
40         上海新增14例累计233例  -88        -99

0     True
1     True
2     True
3     True
0    False
1    False
2    False
3    False
4     True
5     True
6     True
7    False
8    False
9    False
dtype: bool

0     True
1     True
2     True
3     True
0    False
1    False
2    False
3    False
4     True
5     True
6     True
7    False
8     True
9    False
dtype: bool

In [47]:
#（b）求col2的均值。
#（c）求col3的均值。
## 题目明显有坑
## 就不是数值类型
NewCov19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    500 non-null    object
 1   col2    500 non-null    object
 2   col3    500 non-null    object
dtypes: object(3)
memory usage: 11.8+ KB

In [58]:
# 自定义判断是否为数字的函数

## 教程代码当出现多个汉字数字时会报错，通过遍历字符串解决
## 对汉字表示的数字也可分辨
def is_number(s):
    try:  # 如果能运行float(s)语句，返回True（字符串s是浮点数）
        float(s)
        return True
    except ValueError:  # ValueError为Python的一种标准异常，表示"传入无效的参数"
        pass  # 如果引发了ValueError这种异常，不做任何事情（pass：不做任何事情，一般用做占位语句）
    try:
        import unicodedata  # 处理ASCii码的包
        for i in s:
            unicodedata.numeric(i)  # 把一个表示数字的字符串转换为浮点数返回的函数
            #return True
        return True
    except (TypeError, ValueError):
        pass
    return False

# 删选出不是数据的所在行
NewCov19[NewCov19['col2'].apply(lambda x:False if is_number(x) == False else True) == False]

# 手动修改有问题数字，然后求平均
NewCov19.loc[[309,396,485],'col2'] = [0,9,7]
NewCov19.info() # 虽然已经手动将三个问题数字改成数字了，但是没有自动识别为数字列
NewCov19['col2'].astype('float16').mean()

# 参考资料 https://www.runoob.com/python3/python3-check-is-number.html

Empty DataFrame
Columns: [col1, col2, col3  ]
Index: []

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    500 non-null    object
 1   col2    500 non-null    object
 2   col3    500 non-null    object
dtypes: object(3)
memory usage: 11.8+ KB

-0.984

In [59]:
#NewCov19['col3'] #报错
NewCov19.columns

NewCov19[NewCov19['col3  '].apply(lambda x:False if is_number(x) == False else True) == False]
NewCov19.loc[[28,122,332],'col3  '] = [355.3567,9056.2253,3534.6554]
NewCov19.info() # 虽然已经手动将三个问题数字改成数字了，但是没有自动识别为数字列
NewCov19['col3  '].astype('float16').mean()

Index(['col1', 'col2', 'col3  '], dtype='object')

                     col1 col2      col3
28   湖南新增确诊病例68例，累计确诊661例   95   355`.3567
122         山西新增8例累计确诊74例   91  9056.\2253
332             西班牙确诊首例病例   64  3534.6554{

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    500 non-null    object
 1   col2    500 non-null    object
 2   col3    500 non-null    object
dtypes: object(3)
memory usage: 11.8+ KB

24.7