In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
import scipy
# 不用print，直接显示结果
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# 显示所有列
pd.set_option('display.max_columns', 600)

# 一、端午节的淘宝粽子交易
## (1) 请删除最后一列为缺失值的行，并求所有在杭州发货的商品单价均值。

In [17]:
Zongzi = pd.read_csv('./端午粽子数据.csv')
Zongzi.info()
Zongzi.head()
Zongzi.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4403 entries, 0 to 4402
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   标题      4403 non-null   object
 1    价格     4403 non-null   object
 2   付款人数    4332 non-null   object
 3   店铺      4403 non-null   object
 4   发货地址    4400 non-null   object
dtypes: object(5)
memory usage: 172.1+ KB

                                  标题    价格      付款人数        店铺  发货地址
0   五芳斋粽子礼盒 心悦+18只装咸鸭蛋组合端午节礼品团购嘉兴肉粽子   129      6人付款  五芳斋官方旗舰店  浙江 嘉兴
1  北京稻香村端午粽子手工豆沙粽220g*2袋散装豆沙粽香甜软糯豆沙粽    44      8人付款      天猫超市     上海
2     五芳斋粽子礼盒装鲜肉咸蛋黄大肉粽嘉兴豆沙甜粽端午团购散装礼品  89.9  100万+人付款  五芳斋官方旗舰店  浙江 嘉兴
3     稻香私房鲜肉粽蛋黄肉粽嘉兴粽子咸鸭蛋礼盒装端午节送礼特产团购   138   1936人付款  稻香村食品旗舰店     北京
4     嘉兴粽子 蛋黄鲜肉粽新鲜大肉粽早餐散装团购浙江特产蜜枣多口味   3.8  9500+人付款     城城喂食猫  浙江 嘉兴

Index(['标题', ' 价格', '付款人数', '店铺', '发货地址 '], dtype='object')

In [22]:
# (1) 请删除最后一列为缺失值的行，并求所有在杭州发货的商品单价均值。
Zongzi['发货地址 '].unique()
Zongzi = Zongzi[~Zongzi['发货地址 '].isna()]
Zongzi.info()

pd.to_numeric(Zongzi[Zongzi['发货地址 '] == '浙江 杭州'][' 价格']).mean()

array(['浙江 嘉兴', '上海', '北京', '浙江 杭州', '天津', '广东 广州', '江苏 南京', '福建 福州',
       '四川 成都', '安徽 合肥', '河南 郑州', '福建 厦门', '江苏 宿迁', '安徽 阜阳', '浙江 金华',
       '浙江 温州', '河北 廊坊', '陕西 西安', '浙江 宁波', '江苏 无锡', '江苏 南通', '湖南 长沙',
       '广东 东莞', '山东 济南', '云南 昆明', '浙江 湖州', '广东 肇庆', '广东 深圳', '河南 洛阳',
       '江苏 淮安', '广东 汕头', '湖北 荆州', '安徽 芜湖', '山东 枣庄', '山东 东营', '山西 大同',
       '福建 泉州', '广西 钦州', '广西 南宁', '江西 萍乡', '山西 吕梁', '江西 宜春', '广东 珠海',
       '海南 海口', '贵州 黔西南', '湖南 怀化', '吉林 白城', '吉林 通化', '海南 定安', '河南 新乡',
       '湖北 恩施', '广西 桂林', '山东 青岛', '吉林 长春', '广东 梅州', '福建 宁德', '广东 中山',
       '江苏 泰州', '河北 保定', '辽宁 沈阳', '重庆', '吉林 松原', '辽宁 锦州', '江西 赣州',
       '江苏 苏州', '江苏 徐州', '江苏 连云港', '广西 北海', '湖南 常德', '浙江 绍兴', '河南 漯河',
       '山东 潍坊', '浙江 丽水', '贵州 遵义', '陕西 宝鸡', '黑龙江 哈尔滨', '海南 儋州', '山东 威海',
       '安徽 六安', '香港 九龙', '广东 潮州', '广东 揭阳', '江西 上饶', '安徽 亳州', '广西 贵港',
       '四川 德阳', '陕西 榆林', '江苏 扬州', '江苏 盐城', '广东 佛山', '河北 石家庄', '辽宁 本溪',
       '江西 南昌', '山西 太原', '四川 自贡', '安徽 宣城', '广东 湛江', '广西 柳州', '湖南 郴州',
       '陕西 咸阳', '湖南 衡阳', '辽宁 大连', '黑龙江 大庆', '河北 邢台', '湖南 益阳', '内蒙古 呼和浩特',
       '新疆 乌鲁木齐', '浙江 台州', '陕西 延安', '安徽 黄山', '山西 晋中', '福建 三明', '云南 文山',
       '吉林 白山', '江苏 常州', '浙江 衢州', '贵州 黔南', '内蒙古 通辽', '河南 焦作', '贵州 贵阳',
       '广西 玉林', '陕西 渭南', '辽宁 盘锦', '广西 梧州', '河北 沧州', '湖北 武汉', '福建 漳州',
       '广东 清远', '四川 宜宾', '广东 江门', '山东 临沂', '山东 日照', '广东 茂名', '江西 抚州',
       '四川 乐山', '山东 烟台', '四川 泸州', '山东 泰安', '广西 百色', '贵州 黔东南', '海南 万宁',
       '江西 吉安', '宁夏 银川', '湖北 孝感', '广东 阳江', '湖南 株洲', '云南 玉溪', '广西 河池',
       '山西 忻州', '海南 文昌', '辽宁 丹东', '江西 鹰潭', '河南 信阳', '河南 南阳', '广东 韶关',
       '香港 香港岛', '山东 聊城', '云南 曲靖', '河北 唐山', '湖北 襄阳', '河南 济源', '山东 德州',
       '湖北 宜昌', '江苏 镇江'], dtype=object)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4400 entries, 0 to 4402
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   标题      4400 non-null   object
 1    价格     4400 non-null   object
 2   付款人数    4329 non-null   object
 3   店铺      4400 non-null   object
 4   发货地址    4400 non-null   object
dtypes: object(5)
memory usage: 206.2+ KB

ValueError: Unable to parse string "45_" at position 178

In [ ]:
pd.to_numeric(Zongzi[Zongzi['发货地址 '] == '浙江 杭州'][' 价格']).mean()

In [35]:
# Zongzi.loc[179]  # 不是报错对应的position
Zongzi[Zongzi[' 价格'] == '45_']
Zongzi.loc[4376,' 价格'] = 45.0
pd.to_numeric(Zongzi[Zongzi['发货地址 '] == '浙江 杭州'][' 价格']).mean()

                                 标题   价格   付款人数    店铺  发货地址
4376  东方贺礼端午节礼盒嘉兴粽子高汤蛋黄鲜大肉粽特产现已支持定制  45_  17人付款  缘来有礼  浙江 杭州

80.90088888888877

## (2) 商品标题带有“嘉兴”但发货地却不在嘉兴的商品有多少条记录？

In [23]:
Zongzi = pd.read_csv('./端午粽子数据.csv')
Zongzi[(Zongzi['发货地址 '].str.contains('嘉兴')) & ~(Zongzi['标题'].str.contains('嘉兴'))].shape[0]

121

## (3) 请按照分位数将价格分为“高、较高、中、较低、低” 5 个类别，再将类别结果插入到标题一列之后，最后对类别列进行降序排序。

In [95]:
Zongzi = pd.read_csv('./端午粽子数据.csv')
Zongzi[Zongzi[' 价格'] == '45.9.']
Zongzi.loc[4376,' 价格'] = 45.0
Zongzi.loc[538,' 价格'] = 45.9
Zongzi[' 价格'] = pd.to_numeric(Zongzi[' 价格'])
Zongzi[' 价格'].max(), Zongzi[' 价格'].min()


col_name = Zongzi.columns.tolist()
col_name.insert(col_name.index(' 价格'),'Price level')  
Zongzi['Price level'] = pd.cut(Zongzi[' 价格'], [0, 360, 720, 1080, 1440, 1800], right=False, labels=['低','较低','中','较高','高'])\
                        .astype('category').cat.as_ordered()
Zongzi.reindex(columns=col_name).sort_values(by='Price level',ascending=False)

                                 标题     价格      付款人数        店铺  发货地址
538  五芳斋粽子蛋黄鲜肉粽豆沙粽栗子肉棕子新鲜散装批发团购嘉兴肉粽  45.9.  1.0万+人付款  五芳斋官方旗舰店  浙江 嘉兴

(1780.0, 2.8)

,标题,Price level,价格,付款人数,店铺,发货地址
2798,御茶膳房端午节礼品黄酒有机粽子咸鸭蛋手提竹篮礼盒装高端大礼包,高,1780.0,12人付款,御茶膳房旗舰店,北京
2509,御茶膳房端午节礼品有机粽子咸鸭蛋手提竹篮礼盒装高端大礼包,较高,1088.0,9人付款,御茶膳房旗舰店,北京
153,端午节礼品礼盒装组合高档有机粽子咸鸭蛋送领导高端送礼大礼包,中,858.0,45人付款,御茶膳房旗舰店,北京
794,嘉兴粽子新鲜大肉粽蛋黄肉粽甜粽竹篮粽子礼盒装组合端午送礼团购,中,857.9,2491人付款,千味食代i,浙江 嘉兴
4172,端午节礼品粽子礼盒装超大粽鲍鱼四川原味特产鲜肉粉蒸肉南台月升,较低,418.6,12人付款,cddwzz,四川 成都
...,...,...,...,...,...,...
1481,广西柳州三江正宗鲜肉板栗绿豆大粽真空新鲜三角枕头驼背粽子,低,28.0,137人付款,红木木0505,广西 柳州
1482,皇饭儿粽子新鲜大肉粽农家手工糯米鲜肉粽早餐特产端午节送礼团购,低,34.9,175人付款,皇饭儿食品旗舰店,浙江 嘉兴
1483,嘉庆斋 嘉兴粽子8只大肉粽端午节真空早餐速食团购包邮特产咸粽子,低,29.9,172人付款,千食食品专营店,浙江 嘉兴
1484,桂顺斋粽子礼盒 端午节清真真空装香粽 天津特产豆沙蜜枣粽子包邮,低,109.0,34人付款,xieguozhang1982,天津
4402,粽子端午节送礼盒包装1200g双蛋黄广东东莞大个道滘裹蒸棕鲜肉粽,低,99.0,20人付款,hezhiqi,广东 东莞

## (4) 付款人数一栏有缺失值吗？若有则请利用上一问的分类结果对这些缺失值进行合理估计并填充。

In [87]:
Zongzi[Zongzi['付款人数'].isna()][' 价格'].max(),Zongzi[Zongzi['付款人数'].isna()][' 价格'].min()
Zongzi[Zongzi['付款人数'].isna()]

# 已经排序了，直接插值？
# 再按价格排序
Zongzi.reindex(columns=col_name).sort_values(by=' 价格',ascending=False)

(189.0, 2.8)

                                     标题      价格 付款人数     店铺 发货地址  Price level
183   五芳斋 140g*8只大粽子 福韵端午豆沙蜜枣蛋黄粽新包装送礼礼盒   50.90  NaN  天猫会员店    上海           低
243           五芳斋福雅五芳粽子礼盒端午咸甜粽子绿豆糕咸鸭蛋送礼   79.90  NaN  天猫会员店    上海           低
347         【百草味】龙腾粽1090g 早餐大肉粽子湖州特产嘉兴粽   39.90  NaN  天猫会员店    上海           低
386        五芳斋华礼竹篮礼盒1360g蛋粽组合端午礼品嘉兴粽子礼盒  129.00  NaN  天猫会员店    上海           低
389     百草味 龙腾粽礼盒1460g 10只装早餐大肉粽子湖州特产嘉兴   49.90  NaN  天猫会员店    上海           低
...                                 ...     ...  ...    ...   ...         ...
2025           真真老老 嘉兴肉粽 130g 真空 粽子 端午节    4.50  NaN  天猫会员店    上海           低
2077           真真老老 嘉兴肉粽 130g 真空 粽子 端午节    4.50  NaN  天猫会员店    上海           低
2078      俏香阁蛋黄鲜肉粽子120g*2只端午节嘉兴特产速食早餐点心    5.90  NaN  天猫会员店    上海           低
2130      三珍斋蛋黄粽200g真空100g*2只嘉兴特产粽子速食早餐    7.88  NaN  天猫会员店    上海           低
2131      俏香阁经典鲜肉粽子120g*2只端午节嘉兴特产速食早餐点心    5.90  NaN  天猫会员店    上海           低

[71 rows x 6 columns]

,标题,Price level,价格,付款人数,店铺,发货地址
2798,御茶膳房端午节礼品黄酒有机粽子咸鸭蛋手提竹篮礼盒装高端大礼包,高,1780.0,12人付款,御茶膳房旗舰店,北京
2509,御茶膳房端午节礼品有机粽子咸鸭蛋手提竹篮礼盒装高端大礼包,较高,1088.0,9人付款,御茶膳房旗舰店,北京
153,端午节礼品礼盒装组合高档有机粽子咸鸭蛋送领导高端送礼大礼包,中,858.0,45人付款,御茶膳房旗舰店,北京
794,嘉兴粽子新鲜大肉粽蛋黄肉粽甜粽竹篮粽子礼盒装组合端午送礼团购,中,857.9,2491人付款,千味食代i,浙江 嘉兴
2729,米旗端午节粽子礼盒壹品私房多口味肉粽素棕海鲜粽高档礼盒送礼,较低,678.0,5人付款,壹品优店,北京
...,...,...,...,...,...,...
1654,三珍斋鲜肉粽100g*2只嘉兴特产粽子速食早餐（新老包装随机发货）,低,3.2,NaN,天猫会员店,上海
1441,久知味蛋黄鲜肉粽135g 真空粽嘉兴特产粽子速食早餐,低,2.9,NaN,天猫会员店,上海
3516,老鼎丰东北哈尔滨特产粽子鲜肉粽甜粽蜜枣端午节手工传统新鲜蛋黄,低,2.9,913人付款,老鼎丰旗舰店,黑龙江 哈尔滨
1548,久知味醇香鲜肉粽135g 真空粽嘉兴特产粽子速食早餐,低,2.8,NaN,天猫会员店,上海
1760,久知味润香细沙粽135g 真空粽嘉兴特产粽子速食早餐,低,2.8,NaN,天猫会员店,上海

## (5) 请将数据后四列合并为如下格式的 Series：商品发货地为 ××，店铺为××，共计 ×× 人付款，单价为 ××。

In [108]:
Zongzi['Detail'] = '商品发货地为 ' + Zongzi['发货地址 '].replace(' ', '') + ', 店铺为 ' + Zongzi['店铺'] + ',共计 ' + Zongzi['付款人数'] + ', 单价为 ' + str(Zongzi[' 价格'])
Zongzi['Detail']

0       商品发货地为 浙江 嘉兴, 店铺为 五芳斋官方旗舰店,共计 6人付款, 单价为 0     ...
1       商品发货地为 上海, 店铺为 天猫超市,共计 8人付款, 单价为 0       129.0...
2       商品发货地为 浙江 嘉兴, 店铺为 五芳斋官方旗舰店,共计 100万+人付款, 单价为 0 ...
3       商品发货地为 北京, 店铺为 稻香村食品旗舰店,共计 1936人付款, 单价为 0     ...
4       商品发货地为 浙江 嘉兴, 店铺为 城城喂食猫,共计 9500+人付款, 单价为 0    ...
                              ...
4398    商品发货地为 浙江 嘉兴, 店铺为 红船旗舰店,共计 347人付款, 单价为 0      ...
4399    商品发货地为 四川 乐山, 店铺为 峨眉山隐栗粑粑罗栗,共计 80人付款, 单价为 0   ...
4400    商品发货地为 北京, 店铺为 北京美程嘉译,共计 5人付款, 单价为 0       129...
4401    商品发货地为 安徽 合肥, 店铺为 chaoge1931,共计 149人付款, 单价为 0 ...
4402    商品发货地为 广东 东莞, 店铺为 hezhiqi,共计 20人付款, 单价为 0     ...
Name: Detail, Length: 4403, dtype: object

## (6) 请将上一问中的结果恢复成原来的四列

# 二、墨尔本每日最低温度

In [31]:
MelbourneTemperature = pd.read_csv('./墨尔本温度数据.csv', parse_dates=['Date'])
MelbourneTemperature.info()
MelbourneTemperature.head()
MelbourneTemperature.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3650 entries, 0 to 3649
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    3650 non-null   datetime64[ns]
 1   Temp    3650 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 57.2 KB

        Date  Temp
0 1981-01-01  20.7
1 1981-01-02  17.9
2 1981-01-03  18.8
3 1981-01-04  14.6
4 1981-01-05  15.8

Index(['Date', 'Temp'], dtype='object')

## (1) 剔除国庆节、五一劳动节和每月第一个周一，求每月的平均最低气温。

In [69]:
# 排除五一和国庆
ExcludeHoliday = MelbourneTemperature[((MelbourneTemperature.Date.dt.month==5) | 
                                    (MelbourneTemperature.Date.dt.month==10)) & 
                                    (MelbourneTemperature.Date.dt.day==1)]

# 排除第一个周一
ExcludeFirstMonday = MelbourneTemperature[(MelbourneTemperature.Date.dt.weekday == 0) & 
                                          (0< MelbourneTemperature.Date.dt.day) & 
                                          (MelbourneTemperature.Date.dt.day < 8)]

# 用set方法，剔除原来index中需要排除的
ExcludeList = list(ExcludeHoliday.index) + (list(ExcludeFirstMonday.index))
MelbourneTemperature.loc[set(MelbourneTemperature.index) - set(ExcludeList)].set_index('Date').resample('M').mean()

                 Temp
Date
1981-01-31  17.776667
1981-02-28  17.637037
1981-03-31  13.330000
1981-04-30  12.210345
1981-05-31   9.551724
...               ...
1990-08-31   7.826667
1990-09-30   9.186207
1990-10-31  11.346667
1990-11-30  12.662069
1990-12-31  14.306667

[120 rows x 1 columns]

## (2) 季节指数是一种对于周期性变化序列的特征刻画。记数据集中第 k 年平均最低气温为 TYk(k = 1; :::; 10)，第 k 年第 j 个月平均最低气温为TMkj(j = 1; :::; 12)，定义 Sj = ∑∑kkTM TYkj k 。请按照如上定义，计算 12 个
月的季节指数 Sj。

In [84]:
#(2) 季节指数,月均值/年均值
MelbourneTemperature = pd.read_csv('./墨尔本温度数据.csv', parse_dates=['Date'])
MelbourneTemperature = MelbourneTemperature.set_index('Date')
TY_k = MelbourneTemperature.resample('Y').mean()
TM_kj = MelbourneTemperature.resample('M').mean()

TY_k
TM_kj

for i in range(12):
    j = i+1
    print((TM_kj[TM_kj.index.month==j].sum() / TY_k.sum()).values[0])

                 Temp
Date
1981-12-31  11.517260
1982-12-31  10.783562
1983-12-31  11.187397
1984-12-31  10.591781
1985-12-31  11.137534
1986-12-31  10.803288
1987-12-31  10.853151
1988-12-31  11.972055
1989-12-31  11.261918
1990-12-31  11.669589

                 Temp
Date
1981-01-31  17.712903
1981-02-28  17.678571
1981-03-31  13.500000
1981-04-30  12.356667
1981-05-31   9.490323
...               ...
1990-08-31   7.825806
1990-09-30   9.166667
1990-10-31  11.345161
1990-11-30  12.656667
1990-12-31  14.367742

[120 rows x 1 columns]

1.344663995493859
1.3757974915808162
1.3030779368273644
1.0814635887983637
0.8826864610502461
0.6511445598073148
0.5987411236320361
0.7059817856755434
0.8030534394802463
0.9223100964070103
1.11647360543284
1.2393511257604986

## (3) 移动平均法是一种时间序列的常见平滑方式，可分为 k 期移动平均和 k期中心移动平均，都使用了某一时刻及其周围的数据对该时刻的数据进行平滑修正。
### (a) 求原序列的 5 期移动平均序列。
### (b) 求原序列的 5 期与 6 期中心移动平均序列

# 三、 2016 年 8 月上海市摩拜单车骑行记录
## (1) 平均而言，周末单天用车量比工作日单天用车量更大吗？
## (2) 工作日每天的高峰时间段大致为上午 7:30 至 9:30、下午 17:00 至 19:00，请问 8 月里早高峰骑行记录量（以 start_time 为准）高于晚高峰的有几天？
## (3) 请给出在所有周五中（以 start_time 为准），记录条数最多的那个周五所在的日期，并在该天内分别按 30 分钟、 2 小时、 6 小时统计摩拜单车使用时间的均值。
## (4) 请自行搜索相关代码或调用库，计算每条记录起点到终点的球面距离。
## (5) 摩拜单车的骑行结束时间是以电子锁关闭的记录时间为准，但有时候用户会忘记关锁，导致骑行时间出现异常。同时，正常人的骑行速度往往大致落在一个合理的区间，请结合上一问中的球面距离和骑行起始、结束时间，找出潜在的异常骑行记录。
## (6) 由于路线的曲折性，起点到终点的球面距离往往不能充分反应行程长度，请利用 track 列的路线坐标数据，计算估计实际骑行距离，并重新仿照上一问的方法找出可能的异常记录。